body {

    min-height: 100vh;
    display: flex;
    flex-direction:  column;
    margin-bottom: 100px;
    font-family: 'Dancing Script', cursive;
    
    
}
.header {
    font-weight: 900;
    font-size: 48px;
    
    
}
.tifftea {
    margin-left: 275px;
}
.links li:hover {
    color: rgb(2, 141, 2);
    

}
nav {
    display: flex;
    height: 50px;
    font-size: 32px;
    background-color: black;
    color: white;
    font-weight: 900;
    padding: 20px;    
    align-items: center;
    
      
    
    }    
    
    li {
        text-decoration: none;
        display: flex;
        padding: 10px 30px;
        
        
    }
    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1 1 150px;
        margin-right: 200px;
        gap: 75px;
        
    }
    .boxone {
        min-height: 250px;
        max-width: 50%;
        display: flex;
        color: white;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
            
            
              
        
    }
    .boxtwo {
        display: flex;
        min-height: 300px;
        min-width: 40%;
        justify-content: center;
        align-items: center;
        background-color black;
        

    }
    #container_one {
        width: 100%;
        max-height: 300px;
        display: flex;
        flex-direction: row;
        flex: 1 1 300px;
        justify-content: center;
        align-items: center;
        background-color: black;
        
    }
     #container_two {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 50px;        
         align-items: flex-start;
         color: #1F2937;        
         
         
     }
    
     .intro { 
         font-size: 32px;
         margin-left: 200px;

     }
     .intromain {
         font-size: 48px;
         margin-left: 200px;
     }
     .photo {
         border: 5px solid peru;
         border-radius: 30px;
     }

     button {
         background-color: #3882F6;
         font-weight: 900;
         font-size: 16px;
         color: white;
         border: 2px solid white;
         width: 120px;
         height: 40px;
         border-radius: 30px;
         
     }
     .fingertips {
         display: flex;
         justify-content: center;
         color: #1F2937;
     }
     .paragraphs {
         display: flex;
         width: 100%;
         gap: 20px;
         justify-content: center;
         align-items: center;
         margin: 0;

         

         
     }

     p {
         color: #1F2937;
         display: flex;
         flex-direction: row;      
         align-items: flex-start;
         font-weight: 700;       
         font-size: 28px;
         padding: 20px;      
         border-radius: 30px;
                  
        }

     .tea {
        width: 254px;
        height: 254px;
        margin-top: 20px;
        
   
     }
     

     #container_three {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #E5E7EB;
         height: 220px
                  
     }

     .review {
         background-color: #E5E7EB;
         color: #1F2937;
         font-size: 36px;
         max-height: 220px;
         display: flex;
         width: 50%;
         font-style: italic;
     }
     .action {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-content: center;
         align-items: center;
         width: vw;
     }
     .signupbottom {
         display: flex;
         width: 40vw;
         display: flex;
         justify-content: center;
         font-size: 32px;
         
         
     }

     .signup2 {
         margin: 18px;
         
     }
     .calltoaction {
         font-size: 32px;
         font-weight: 700;
         display: flex;
         
         
     }
     #container_four {
         display: flex;
         flex-direction: wrap;
         background-color: #3882F6;
         width: 38vw;
         height: 80px;
         justify-content: center;
         padding: 8px;
         border-radius: 30px;
         margin-top: 18px;       
         
         
        }
     h2 {
         margin: 0;
         padding: 0;
     }
     h3 {
         margin: 0;
         padding: 0;
     }
     .button_two {
         width: 120px;
         height: 40px;
         
         

     }
     .action {
         display: flex;
         flex-direction: column;
         color: white;
         align-items: flex-start;
         max-height: 80px;
         
        }

        #footer {
            width: 100vw;
            height: 60px;
            background-color: #1F2937;
            color: white;
            bottom: 0;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32px;
        }
       

        